@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
	@media screen and (min-width: $tablet-breakpoint) {
		@content;
	}
}
@mixin background-overlay {
	background-color: rgba(255, 255, 255, 0.45);
	position: absolute;
	min-height: 100%;
}
