@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

body {
	margin: 0;
	font-family: "Handlee";
	color: $font-color;
	background-image: url(../src/assets/images/background-image.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
