@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

body {
	box-sizing: border-box;
	margin: 0;
	font-family: "Handlee";
	color: $secondary-color-dark;
	background-image: url(../src/assets/images/background-image.svg);
	background-repeat: no-repeat;
}

p {
	margin: 0;
	margin-bottom: 0.5rem;
}

.main-container {
	@include background-overlay;
}
